// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-colour: white;

// Colors
$main: #4b6cb7;
$secondary: #182848;
$transparent: rgba(0, 0, 0, 0.5);
$bg: white;
$error: rgb(255, 70, 70);
